redirects: on

source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2/

nuget Accord.MachineLearning
nuget Accord.Math
nuget Accord.Neuro
nuget Accord.Statistics
nuget Nuget.CommandLine
nuget Autofac
nuget AutoFixture
nuget AWSSDK
nuget CassandraCSharpDriver
nuget EmitMapper
nuget FluentAssertions
nuget IronPython
nuget lz4net
nuget Machine.Specifications
nuget Machine.Specifications.Should 
nuget Magnum 
nuget Microsoft.Tpl.Dataflow
nuget mongocsharpdriver
nuget MongoDB.Bson
nuget MongoDB.Driver
nuget MongoDB.Driver.Core
nuget morelinq
nuget Newtonsoft.Json
nuget NLog
nuget NSubstitute
nuget System.Net.Http.Formatting.Extension
nuget TimePeriodLibrary.NET
nuget xunit
nuget xunit.abstractions
nuget xunit.assert
nuget xunit.core
nuget xunit.extensibility.core
nuget xunit.extensions
nuget YamlDotNet