<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.18.5" targetFramework="net451" />
  <package id="AutoFixture.Xunit" version="3.18.5" targetFramework="net451" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net451" />
  <package id="Machine.Specifications" version="0.8.2" targetFramework="net451" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" />
  <package id="xunit.should" version="1.1" targetFramework="net451" />
</packages>